.startPage{
    padding: 4rem 0;
}

.contentStart{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.mainText{
    font-size: 6rem;
    font-weight: 700;
    background: linear-gradient(90.5deg, #3EBFFF 5.14%, #008FD6 99.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Montserrat', sans-serif;

    letter-spacing: 5px;

    margin: 2rem 0;
}

.button{
    cursor: pointer;

    padding: .75rem 2.5rem;

    border: none;
    border-radius: 4px;
    background-color: #008FD6;
    font-family: 'Montserrat', sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}