header {
    padding: 1rem 0;

    background-color: #fff;

    border-bottom: 1px solid rgba(0, 0, 0, .15);

    box-shadow: 0 .5rem 20px rgba(0, 0, 0, 1%);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__logo img{
    width: 50px;
}

.header__links ul{
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
}

.header__links a{
    text-decoration: none;
    padding: .2rem;

    color: #333;
}